{% block external_css %}
<!-- DataTables -->
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.css" /> {% endblock %}
{% extends "layout.html" %}
{% block body %}
<!-- <script src="{{url_for('static', filename='areas.js')}}"></script>
<script src="{{url_for('static', filename='operators.js')}}"></script> -->
<script>
function createFilter(dataTable, label, column_number, filterName) {
    var filter = $('<div class="dataTables_filter"></div>');
    var label = $('<label>' + label + ': </label>');
    var column = dataTable.api().column(column_number);
    var select = $('<select name="' + filterName + '-filter" id="' + filterName + '-filter" class="form-control input-sm"><option value=""></option></select>')
        // .appendTo($(column.footer()).empty())
        .on('change', function() {
            var val = $.fn.dataTable.util.escapeRegex(
                $(this).val()
            );

            column
                .search(val ? '^' + val + '$' : '', true, false)
                .draw();
        });

    column.data().unique().sort().each(function(d, j) {
        select.append('<option value="' + d + '">' + d + '</option>')
    });
    filter
        .append(label)
        .append(select);
    return filter;
}
</script>
<script>
$(document).ready(function() {
    $('#util-converse-table').DataTable({
        ajax: {
            'url': '/converse/get_report',
            'dataSrc': 'response'
        },
        initComplete: function(settings, json) {
            // TODO: Reqrite filtration with columnFilter Add-on
            var toolbar = $('#util-converse-table_wrapper > div.row > div')
            $(toolbar[0]).addClass('col-sm-3').removeClass('col-sm-6');
            $(toolbar[1]).addClass('col-sm-3').removeClass('col-sm-6');
            $('<div class="col-sm-3"></div>').insertAfter($(toolbar[0])).append(createFilter(this, 'Локация', 1, 'area'));
            $('<div class="col-sm-3"></div>').insertAfter($(toolbar[0])).append(createFilter(this, 'Месяц', 0, 'month'));
        },
        columns: [
            { data: 'month' },
            { data: 'area' },
            { data: 'agent_login' },
            { data: 'successed' },
            { data: 'utilized' },
            { data: 'recall_rate' },
            { data: 'util_finish_30' },
            {
                data: 'last_updated',
                'mRender': function(data, type, full) {
                    var dtStart = new Date(parseInt(data) * 1000);
                    var dtStartWrapper = moment(dtStart);
                    return dtStartWrapper.format('YYYY-MM-DD HH:mm');
                }
            },
        ],
        "pageLength": 50,
        "language": {
            "url": "{{url_for('static', filename='datatables.ru.json')}}"
        },
        "footerCallback": function ( row, data, start, end, display, filter ) {
            // A callback function that gives us total data into header
            var api = this.api(), data;
            totalUtil = api.column(4, {'search': 'applied'}).data().reduce( function (a, b) {return a + b}, 0 );
            totalSuccessed = api.column(3, {'search': 'applied'}).data().reduce( function (a, b) {return a + b}, 0 );
            $(api.column(3).footer()).html(totalSuccessed);
            $(api.column(4).footer()).html(totalUtil);
            $(api.column(6).footer()).html((totalUtil * 100 / totalSuccessed).toFixed(2));
        },
    });
});
</script>
<h1>Утилизационная конверсия</h1>
<div class="row">
    <div class="col-md-12">
        <table id="util-converse-table" class="display table">
            <thead>
                <th>Месяц</th>
                <th>Локация</th>
                <th>Оператор</th>
                <th>Оформленые</th>
                <th>Утилизированные</th>
                <th>Перезвоны</th>
                <th>Утиль</th>
                <th>Последнее обновление</th>
            </thead>
            <tfoot>
                <th>Месяц</th>
                <th>Локация</th>
                <th>Оператор</th>
                <th>Оформленые</th>
                <th>Утилизированные</th>
                <th>Перезвоны</th>
                <th>Утиль</th>
                <th>Последнее обновление</th>
            </tfoot>
        </table>
    </div>
</div>
{% endblock %}
{% block external_js %}
<!-- DataTables -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
<script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.js"></script>
{% endblock %}