{% extends "layout.html" %}
{% block body %}

<div class='jumbotron'><div class='container'><h1>CC_Analyst!</h1><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste aut deleniti ex ipsam, beatae eos, illum. Adipisci itaque quaerat voluptas voluptatibus quos dicta, temporibus quod veritatis facere odio aliquid necessitatibus!</p></div></div>
{% endblock %}