{% extends "layout.html" %}
{% block body %}
<script src="{{url_for('static', filename='areas.js')}}"></script>
<script src="{{url_for('static', filename='operators.js')}}"></script>

<script>
		$(document).ready( function() {
			$.getJSON($SCRIPT_ROOT + '_areas', null, show_areas );
			$.getJSON($SCRIPT_ROOT + '_operators', null, show_operators );
			$(document).on("click", '#add_area', add_area);
			$(document).on("click", '#save_areas', save_areas);
			$(document).on("click", '#save_operators', save_operators);

		});

</script>
<h1>Локации:</h1>
<table id='areas' class='table table-striped table-hover table-condensed'>
<thead><th>Название</th><th>Код начинается С</th><th>Удалить</th></thead>
<tbody>
</tbody>
</table>
<button type="button" class="btn btn-secondary" id='add_area'>Добавить локацию</button>
<button type="button" class="btn btn-primary" id='save_areas'>Сохранить изменения</button>
<h1>Операторы:</h1>
<table id='operators' class='table table-striped table-hover table-condensed'>
<thead><th>Login</th><th>Полное имя</th><th>ID</th><th>Локация</th></thead>
<tbody>
</tbody>
</table>
<button type="button" class="btn btn-primary" id='save_operators'>Сохранить изменения</button>
{% endblock %}