{% extends "layout.html" %}
{% block external_css %}
<!-- Bootstrap DatePicker -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/css/bootstrap-datetimepicker.min.css" rel="stylesheet" /> {% endblock %} {% block body %}
<script>
$(document).ready(function() {
    $('.dt').datetimepicker({
        format: "YYYY-MM",
        viewMode: "years",
    });
});
</script>
<h1>Файлы на сервере:</h1>
<table class='table table-striped table-hover table-condensed'>
    <thead>
        <th>Файл</th>
        <th>Основная</th>
        <th>Утилизация</th>
        <th></th>
    </thead>
    <tbody>
        {% for file in files%}
        <tr>
            <td>{{ file }}</td>
            <td>
                <a href="./to_main_db?file={{file}}"><span class="btn btn-primary">В основную базу</span></a>
            </td>
            <td>
                <form class="form-inline" action='./converse/to_db'>
                    <input type="text" class="form-control dt" value="" name="month" />
                    <input type="hidden" name='file' value='{{ file }}'>
                    <button type="submit" class="btn btn-primary">В базу конверсии</button>
                </form>
            </td>
            <td>
                <a href="./remove?file={{file}}"><span class="btn btn-danger">Удалить</span></a>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h1>Добавить:</h1>
<form id="upload-form" action="{{ url_for('upload_file') }}" method="POST" enctype="multipart/form-data">
    <input type="file" name="file" accept=".csv" multiple>
    <button type="submit" class="btn btn-default">Загрузить</button>
</form>
{% endblock %}
{% block external_js %}
<!-- Bootstrap DatePicker -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.37/js/bootstrap-datetimepicker.min.js"></script>
{% endblock %}  