{% extends "layout.html" %}
{% block body %}
<script src="{{url_for('static', filename='users.js')}}"></script>

<script>
	$(document).ready( function() {
		$.when(
			$.getJSON($SCRIPT_ROOT + '_users', null),
			$.getJSON($SCRIPT_ROOT + '_areas', null)
			)
			.then(function(users, areas){
				areas_list = areas[0]
				areas_dict= {}
				for (area in areas_list){
					areas_list[area]['text'] = areas_list[area]['name']
					areas_dict[areas_list[area]['id']] = areas_list[area]['name']
				}
				sessionStorage.setItem('areas_list', JSON.stringify(areas_list))
				sessionStorage.setItem('areas_dict', JSON.stringify(areas_dict))
				show_users(users[0]);
			});

		$(document).on("click", '#add_user', add_user);
		$(document).on("click", '#save_users', save_users);
	});
</script>
<h1>Пользователи:</h1>
<table id='users' class='table table-striped table-hover table-condensed'>
<thead>
	<th field-name='log' class='col-md-2'>Логин</th>
	<th field-name='pwd' class='col-md-'2>Пароль</th>
	<th field-name='allowed_areas_id' field-type='select'>Локации</th>
	<th class='col-md-1'>Удалить</th></thead>
<tbody>
</tbody>
</table>
<button type="button" class="btn btn-secondary" id='add_user'>Добавить пользователя</button>
<button type="button" class="btn btn-primary" id='save_users'>Сохранить изменения</button>
{% endblock %}