/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.table td{
  position:relative;
}

/* jquery 3 hack fix */
.bootstrap-datetimepicker-widget {
  display: block;
}